@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    max-height: auto;
    margin: 0 auto;
    padding: 20px;
}

Trash2 {
    cursor: pointer;
}

* #root {
    margin: 0;
    padding: 0;
    height: 100%;
}